<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Language" content="ko" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"  media="screen" />
    <script th:src="@{/js/jquery-1.8.3.min.js}"></script>
</head>
<body onload="callNative02()">
<script>
    function callNative02() {

        var currentOS = "";
        var userAgent = navigator.userAgent.toLowerCase();
        var key = document.getElementById("key").value;
        var isFirst = document.getElementById("isFirst").value;
        var tel = document.getElementById("tel").value;
        var name = document.getElementById("name").value;

        if (userAgent.search("android") > -1)
            currentOS = "android";
        else if ((userAgent.search("iphone") > -1) || (userAgent.search("ipod") > -1)
            || (userAgent.search("ipad") > -1))
            currentOS = "ios";
        else
            currentOS = "else";

        //data는 무조건 클라이언트에서 문자열로만 받음.

        try {
            switch (currentOS){
                case "ios":
                    webkit.messageHandlers.callbackHandler.postMessage({ key: key, isFirst: isFirst, tel: tel, name: name });
                    break;
                case "android":
                    window.AndroidApp.sendMessage(JSON.stringify({ key: key, isFirst: isFirst, tel: tel, name: name }));
                    break;
                default :
                    break;
            }
        } catch(error){
            alert(error)
        }

    }
</script>

<input type ="hidden" id="key" name="key" th:value="${data.secret}" />
<input type ="hidden" id="isFirst" name="isFirst" th:value="${data.isFirst}" />
<input type ="hidden" id="tel" name="tel" th:value="${data.tel}" />
<input type ="hidden" id="name" name="name" th:value="${data.name}" />

</body>
</html>
